<!DOCTYPE html>
<html>

    <head>
        <title>Bot-Wars</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>

    <body>

        <div class="left-side">
            <div class="table">
                <div class="field" id="0-0"></div>
                <div class="field" id="0-1"></div>
                <div class="field" id="0-2"></div>
                <div class="field" id="1-0"></div>
                <div class="field" id="1-1"></div>
                <div class="field" id="1-2"></div>
                <div class="field" id="2-0"></div>
                <div class="field" id="2-1"></div>
                <div class="field" id="2-2"></div>
            </div>

            <div class="game-data">

                <div class="entered-data">
                    <button class="button" id="join_game">New session</button>
                    <input type="text" id="new-session-player1-name" placeholder="Enter name">
                    <input type="checkbox" class="check_1" id="new-session-is-human">
                    <label class="label_1">I am human</label>
                </div>
                <div class="entered-data">
                    <button class="button" id="join_session">Join session</button>
                    <input type="text" id="join-session-id" placeholder="Enter session ID"><br>
                    <input type="text" id="join-session-player2-name" class="input-player-2-name" placeholder="Enter name">
                    <input type="checkbox" class="check_2" id="join-session-is-human">
                    <label class="label_2">I am human</label>
                </div>

                <div class="data-to-display">
                    <h1>Session ID:&nbsp;<span id="session_id"></span></h1>
                    <h2>Player 1 ID</h2>
                    <h2>Player 2 ID</h2>
                    <p class="data" id="player1_id"></p>
                    <p class="data" id="player2_id"></p>
                    <h2>Player 1 name</h2>
                    <h2>Player 2 name</h2>
                    <p class="data" id="player1_name"></p>
                    <p class="data" id="player2_name"></p>
                </div>

                <div class="results">
                    <p class="games-total">Games total played:&nbsp;<span id="games-number">0</span></p>
                    <h2 class="res_h2">Wins P1</h2>
                    <h2 class="res_h2">Draw</h2>
                    <h2 class="res_h2">Wins P2</h2>
                    <p class="result" id="wins_p1">0</p>
                    <p class="result" id="draw">0</p>
                    <p class="result" id="wins_p2">0</p>
                </div>

            </div>

        </div>

        <script src="{{ url_for('static', filename='js/vendor/jQuery-1.11.3.js') }}"></script>
        <script src="{{ url_for('static', filename='js/apiCalls.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bot.js') }}"></script>
        <script src="{{ url_for('static', filename='js/views.js') }}"></script>
        <script>
            $(document).ready(function () {
                window.bot = {};
            });
        </script>

    </body>

</html>